/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  box-sizing: border-box;
}

/* 1st section style */
.copa-america {
    
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d25a0;
  width: 100%;
}

.half-width {
  
  width: 37%;
  margin-bottom: 30px;
  
  
 
}
.head-section{
  margin-left: 10px; 

}


.heading-title {
  width: 485px;
  font-size: 64px;
  color: #ffffff;
 
}

.link-button {
 
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  background-color: #e02c6d;
  font-size: 16px;
 
  
}
.link-button i {
  padding: 10px;
  font-size: 16px;
}

.link-button:hover {
  background-color: #9b083e;
}

.responsive {
  margin-top: 50px;
  width: 100%;
  height: auto;
  transition: transform 2s ease-in-out;
}
.responsive:hover {
  transform: scale(0.5, 0.5);
}

/* 2nd section style */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 38px;
  grid-row-gap: 54px;
}
.player-detail {
  width: 320px;
  height: 474px;
  padding: 15px;

  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-detail:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.player img {
  width: 320px;
  height: 256px;
}
.player-info h3 {
  font-size: 28px;
  margin-bottom: 0px;
}
.player-info p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400px;

  color: #6c6c6c;
}
/* 3rd section style */

.org-details {
  width: 100%;
  margin-top: 90px;
  
  text-align: center;


}
.organized-by{
  width: 80%;
  margin: 0px auto 50px;

}
.img-banner {
  width: 70%;
  height: auto;
  
  transition: transform 2s;
}
.img-banner:hover {
  transform: scale3d(0.5, 1, 1.7);
  cursor: pointer;
}

.color {
  color: rgb(13, 13, 134);
  font-size: 40px;
  text-align: center;
  
}

.description {
  color: #6c6c6c;
  text-align: justify;
  margin-bottom: 30px;
  padding: 20px;
}
.description:hover {
  font-size: 20px;
}

hr {
  border: 2px solid gray;
  margin-bottom: 30px;
}
/* 4th section style */

.media-partner-details {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px; */
  display: flex;
}

.media-title {
  text-align: center;
  color: rgb(13, 13, 134);
  font-size: 40px;
  border-bottom: 2px solid rgb(202, 200, 200);
}
.media-partner-details img {
  width: 200px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  transition: transform 1s;
}
.media-partner-details img:hover {
  cursor: pointer;
  transform: translate(9px, 9px);
}

/* footer style */
/* .logo-banner {
  width: 100%;
  border: 2px solid gray;
} */

.logo-container {
  margin-top: 157px;
  text-align: center;
  margin-bottom: 54px;
}

.logo {
  margin: 0 auto;
  max-width: 400px;
}

.logo img {
  width: 262.1px;
  

  height: auto;
  margin-bottom: 20px;
}

.social-icon a {
  padding: 1%;
}
.social-icon a i {
  font-size: 25px;
  color: #969BAB;;
  
  
}
.social-icon a:hover {
  background-color: rgb(49, 48, 48);
}
.copyright {
  font-size: 18px;
  color: #000000;
}

/* media queries */
/* for mobile devices */
@media only screen and (max-width: 688px) {
  .main-container,.half-width {
    width: 100%;
  }
  .container,
  .media-container,
  .media-partner {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .player-details,
  .copa-america , .media-partner-details{
    flex-direction: column;
  }
  .heading-title{
      width: 300px;
     font-size: 30px;
  }

   
  
  
}
